name: dependabot

on:
  push:
    branches:
     - dependabot/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Run Unit Tests
        run: ./gradlew clean check
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: test-results
          path: '**/build/reports/tests'
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/**/TEST-*.xml'
